<div class="welcome-container">
    <h1><mat-icon>favorite</mat-icon> Welcome!</h1>
  
    <div class="welcome-message">
      <p>We are thrilled to have you join our community!</p>
      <p>Here are a few things you can do:</p>
      <ul>
        <li>Update your profile information</li>
        <li>Share your success story</li>
        <li>Explore resources and events</li>
      </ul>
    </div>
  
    <div class="action-buttons">
      <button mat-raised-button color="primary" routerLink="">Update Profile</button>
      <button mat-raised-button color="primary" routerLink="">Share Success Story</button>
    </div>
  </div>
  