.spacer {
  flex: 1 1 auto;
}

span {
  color: rgb(228, 224, 224);
}

a {
  text-decoration: none;
  padding: 30px;
  padding-bottom: 20px;
  color: rgb(228, 224, 224);
}

.header {
  background-color: rgb(21, 60, 134);
}

mat-icon {
  color: white;
}

.menu-bar {
  text-align: center;
}


.column a {
  color: black;
}



