<mat-stepper linear #stepper class="custom-stepper">
  <mat-step [stepControl]="personalDetailsForm" class="custom-step">
    <form [formGroup]="personalDetailsForm">
      <ng-template matStepLabel>Personal Details</ng-template>

      <mat-form-field class="form-field first" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="John" formControlName="firstName" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Doe" formControlName="lastName" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="divya@gmail.com" formControlName="email" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="7358871876" formControlName="phoneNumber" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field" appearance="outline">
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Transgender">Transgender</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Country of Birth</mat-label>
        <input matInput placeholder="India" formControlName="countryOfBirth" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Country of Residence</mat-label>
        <input matInput placeholder="India" formControlName="countryOfResidence" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" [max]="today" formControlName="dateOfBirth" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Door No</mat-label>
        <input matInput placeholder="123" formControlName="address" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="Chennai" formControlName="city" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>state</mat-label>
        <input matInput placeholder="Tamil Nadu" formControlName="state" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="641 653" formControlName="zipCode" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext class="button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="academicForm" label="Academic Details" class="custom-step">
    <form [formGroup]="academicForm">
      <mat-form-field class="form-field first" appearance="outline">
        <mat-label>School of Study</mat-label>
        <input matInput formControlName="school" placeholder="St Mary's" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>College Name</mat-label>
        <input matInput placeholder="CIT" formControlName="collegeName" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field" appearance="outline">
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="yearOfStudy">
          <mat-option value="I">I</mat-option>
          <mat-option value="II">II</mat-option>
          <mat-option value="III">III</mat-option>
          <mat-option value="IV">IV</mat-option>
          <mat-option value="V">V</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Course</mat-label>
        <input matInput placeholder="CS" formControlName="course" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Student ID</mat-label>
        <input matInput placeholder="201CS154" formControlName="studentId" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Fund Required in Rupees</mat-label>
        <input matInput placeholder="100000" formControlName="fundRequired" required>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>End Date to pay fee</mat-label>
        <input matInput [matDatepicker]="picker1" [min]="today" formControlName="endDate" />
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious type="button" class="button">Back</button>
        <button mat-button matStepperNext type="button" class="button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="proofsForm" (ngSubmit)="onSubmit()" class="custom-step">
    <ng-template matStepLabel>Proofs</ng-template>
    <form [formGroup]="proofsForm">
      <div class="file-input form-field">
        <label> Aadhar proof (Ex. 21CS-AADHAR)</label>
        <br>
        <input type="file" formControlName="aadharCardProof" (change)="setAadhar($event)" required #aadhar />
      </div>

      <div class="file-input form-field">
        <label>Income Proof (Ex. 21CS-INCOME)</label>
        <br>
        <input type="file" formControlName="incomeProof" (change)="setIncome($event)" required #income />
      </div>

      <div class="file-input form-field">
        <label>Student Id Proof (Ex. 21CS-IDCARD)</label>
        <br>
        <input type="file" formControlName="studentIdentityProof" (change)="setIdcard($event)" required #studentid />
      </div>

      <div class="file-input form-field">
        <label>Fee details Proof (Ex. 21CS-FEE)</label>
        <br>
        <input type="file" formControlName="feeDetails" (change)="setFee($event)" required #fee />
      </div>

      <div class="file-input form-field">
        <label>Profile Photo (Ex. 21CS-PROFILE)</label>
        <br>
        <input type="file" formControlName="profilePhoto" (change)="setProfile($event)" required #profile />
      </div>


      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Give a short story about you</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="shortStory"></textarea>
      </mat-form-field>

    </form>
    <div>
      <button mat-button matStepperPrevious type="button" class="button">Back</button>
      <button mat-button type="submit" (click)="onSubmit()" class="button">Submit</button>
      <button mat-button (click)="stepper.reset()" type="reset" class="button">Reset</button>

    </div>
  </mat-step>
</mat-stepper>