.card-div {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    height: 250px;
}

.content-div {
    width: 50%;
}

.details-div {
    padding-top: 30px;
}

.action-div {
    padding-top: 60px;
}