<body [ngClass]="{'sprinkle-container': student.raisedPercent === 100}">
  <div>
    <button mat-icon-button (click)="onNoClick()">
      <mat-icon class="icon">clear</mat-icon>
    </button>
  </div>
  <div class="container">
    <div class="left-section">
      <div class="student">
        <img src="{{student.profilePhoto}}" alt="student">
      </div>
    </div>
    <div class="right-section">
      <div class="info student">
        <h3>{{student.firstName}} {{student.lastName}}</h3>
        <h3>{{student.school}}</h3>
        <h3>{{student.collegeName}}</h3>
        <h3>{{student.course}} {{student.yearOfStudy}}</h3>
        <h3>Total funding needed : Rs. {{student.fundRequired}}</h3>
      </div>
      <div class="slider-section">
        <label [ngClass]="{'completed-student': student.raisedPercent === 100}" class="example-value-label">Amount :Rs. {{value}} / Rs. {{balanceAmount}}</label>
        <br>
        <mat-slider [ngClass]="{'completed-student': student.raisedPercent === 100}" class="example-margin" [max]="balanceAmount" min=100 step=100>
          <input  matSliderThumb [(ngModel)]="value">
        </mat-slider>
        <mat-form-field [ngClass]="{'completed-student': student.raisedPercent === 100}" appearance="outline" class="pay-input">
          <input matInput type="number" name="numberValue" [(ngModel)]="value" #numberInput="ngModel"
                 min="100" [max]="balanceAmount" step="100">
          <mat-error *ngIf="numberInput.invalid && (numberInput.dirty || numberInput.touched)">
            <span *ngIf="validateMin(value)">Number must be at least 100</span>
            <span *ngIf="validateMax(value, balanceAmount)">Number must be at most {{balanceAmount}} </span>
            <span *ngIf="validateStep(value)">Number must increment by 100</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="student" [ngClass]="{'completed-student': student.raisedPercent === 100}">        
        <button mat-raised-button [ngClass]="{'button-disabled': validate()}" [disabled] = "validate()" class="pay-button" (click)="payment()"> Pay {{value}}</button> 
      </div>
      <div>
        <i class="i" [ngClass]="{'completed-student': student.raisedPercent === 100}">7.5% extra will be taken for maintainence</i>
      </div>
    </div>
    <div class="story-section">
      <div class="student">
        <h2>My story</h2>
        <h3 class="story">{{student.shortStory}}</h3>
      </div>
    </div>
  </div>
</body>